.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
_site/
**_cache/

# Compiled Stan things
# (I wish there was a better way to detect these ¯\_(ツ)_/¯ )
bayes-rules/06-stan/bb_sim
bayes-rules/06-stan/gp_sim
bayes-rules/08-stan/genx
bayes-rules/09-stan/bike-simple
bayes-rules/10-stan/bike-better
bayes-rules/12-stan/equality
bayes-rules/12-stan/equality-manual
bayes-rules/13-stan/weather-full
